<div class="adminka">
  <h1>Админка</h1>
  <div class="branch">
    <p>Разделы:</p>
    <%= link_to "Пользователи", users_path %><br />
    <%= link_to "Каталог", catalogs_path %><br />
    <%= link_to "Новости", posts_path %>
  </div>  
  <div class="actions">
    <%= link_to "Выход", logout_path, :confirm => "Уверены?", :method => :delete %>
  </div>
</div>
