<div class="my_contacts">
  <p class="text">По всем вопросам, предложениям, заказам обращаться по следующим контактам:</p>
  <p class="cont">Телефон: 8-777-694-84-08 (Ерлан)</p>
  <p class="cont">E-mail: lagox.mail@gmail.com (Ерлан)</p>
</div>