<div class="main_page">
  <div class="intro">
    <p>Бин бэг — это лучшее изобретение для отдыха детей и взрослых. В них можно отдыхать, спать, смотреть передачи, читать, сидеть за ноутбуком, курить кальян, наслаждаться беседами в компании. Уникальное свойство бин-бэга - принимать форму Вашего тела, равномерно распределяя нагрузку, сохраняя внутреннее тепло.</p>
    <p>Помимо продажи бин бэгов, которые находятся в каталоге, Вы можете заказать у нас бин бэг на свой вкус(цвет, дизайн, размер).</p>
    <p>Мы открыты для сотрудничества, <%= link_to "звоните", contacts_path %></p>
  </div>
  <div class="slide_instr">
    <%= link_to "О бин бэгах", "#" %>
  </div>
  <div id="instruction">
    <img src="/images/instruction.png" alt="Инструкция" title="Инструкция" />
  </div>
</div>