<div class="content">
  <div class="info_about">
    <ul>
      <li>
        <div class="fabric"></div>
        <div class="text">
          <ul>
            <li>Прочная ткань</li>
            <li>Не истирается</li>
            <li>Ярко выглядит</li>
            <li>Стирается</li>
          </ul>
        </div>
      </li>
      <li>
        <div class="zip"></div>
        <div class="text">
          <ul>
            <li>Качественные швы</li>
            <li>Надежные молнии</li>
          </ul>
        </div>            
      </li>
      <li>
        <div class="penopolistirol"></div>
        <div class="text">
          <ul>
            <li>Без запаха</li>
            <li>Не промокает</li>
            <li>Долговечен</li>
            <li>Экологичен</li>
          </ul>
        </div>            
      </li>
      <li>
        <div class="quality"></div>
        <div class="text">
          <ul>
            <li>100% качество</li>
          </ul>
        </div>            
      </li>
    </ul>
  </div>
  <div class="video">
    <div class="title">Посмотрите видео и бинбэгах:</div>
    <div class="content_video">
<object width="460" height="288"><param name="movie" value="http://www.youtube.com/v/PegRDzxBQnk?version=3&amp;hl=ru_RU"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/PegRDzxBQnk?version=3&amp;hl=ru_RU" type="application/x-shockwave-flash" width="460" height="288" allowscriptaccess="always" allowfullscreen="true"></embed></object>
    </div>
    <div class="about_beanbag">
      Бин-бэг - разновидность мягкой мебели. Представляет собой герметичный тканевый или кожаный мешок, заполненный фасолью, гречневой шелухой, гранулами ПВХ, вспененным полистиролом или иным наполнителем. © Википедия
    </div>        
  </div>
</div>