<div class="footer">
  <div class="copy">
    KresloMeshok.kz &copy; 2011
  </div>
  <div class="developer">
    Сделано в <a href="http://remeli.kz"><span class="first">R</span>emeli</a>
  </div>
</div>