<div id="menu">
  <ul>
    <li><%= link_to "", root_path, :class => "main" %></li>
    <li><a href="#" title="Каталог" class="catalog"></a></li>
    <li><a href="#" title="Новости" class="news"></a></li>
    <li><%= link_to "", contacts_path, :class => "contacts" %></li>
  </ul>
</div>