<div id="menu">
  <ul>
    <li><a href="#" title="Главная" class="main"></a></li>
    <li><a href="#" title="Каталог" class="catalog"></a></li>
    <li><a href="#" title="Новости" class="news"></a></li>
    <li><a href="#" title="Контакты" class="contacts"></a></li>
  </ul>
</div>